<div class="concept">
  <span>What is RANCHICAN?</span>
  <p>もう会うまでの面倒なチャトはこりごり、、、<br>そんなあなたのための<br>「サクッ」と会えるマッチングアプリ</p>
  <div>
    <ul>渋谷限定！</ul><br>
    <ul>ランチ限定！</ul><br>
    <ul>今日会える人限定！</ul>
  </div>
</div>
